<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content= 
			"width=device-width, initial-scale=1.0"> 	
	<title> 
		Handwritten Character Recognition
	</title> 
	<link rel='stylesheet' href='/static/styles/styles.css'/>
</head> 

<body> 
	<h1>Handwriting Recognition</h1> 
	<b>Draw a number</b><br/>
	<canvas id="canvas" width=200 height=200></canvas> 
	<div>
		<button onclick='predict()'>Predict</button><br/>
	</div>

	<div id="show"/>

	<script src="/static/index.js"></script> 
</body> 
</html>
